@model IEnumerable<MVCCodeFirstApproch.Models.Employee>
    <a asp-action="Create" asp-controller="Employee" class="btn btn-outline-warning">Create</a>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Image</th>
        </tr>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.FirstName &nbsp; @emp.LastName</td>
                <td>@emp.Email</td>
                <td>@emp.Contact</td>
                <td><img src="emp.Image" height="60" width="60" /></td>
            </tr>
        }

    </table>

